.dashboardContainer {
  width: 80%;
  max-width: 40vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
