.homeContainer {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchSection,
.lastThreeAddedCars {
  margin-top: 20px; /* Adjust the margin between sections */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  color: #fff;
  animation: fadeIn 1s ease-in-out;
  width: 100%;
}

.overlay h1 {
  margin: 0;
  font-size: 2em;
}

.overlay p {
  margin: 10px 0;
  font-size: 1.2em;
}

.carList {
  list-style: none;
  padding: 0;
  display: flex;
}

.carList li {
  margin: 0 10px;
  font-size: 1.2em;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease-in-out;
}

.lastThreeAddedCars {
  margin-top: auto; /* Move the last three added cars to the bottom */
  margin-bottom: 200px; /* Adjust the margin at the bottom */
}
