.carDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.detailsContent {
  margin-top: 20px;
}

.detailsContent img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.detailsContent p {
  margin: 10px 0;
}

.backButton {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
