.dashboardContainer {
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width if necessary */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.productImage {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.productInfo {
  text-align: center;
}

.productInfo h3 {
  margin: 0;
  font-size: 1.5em;
}

.productInfo p {
  margin: 5px 0;
  font-size: 1.2em;
}

.detailsButton {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
