.searchContainer {
  display: flex;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow: hidden;
}

.searchField {
  margin-bottom: 10px;
}

.searchField label {
  margin-right: 10px;
}

.searchField input {
  padding: 5px;
  font-size: 1em;
}

.searchContainer button {
  background-color: #87cefa;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
